@import "tailwindcss";

:root {
        /* Fondo principal */
        --brand-background: #FCFAF8;
        /* Fondos de secciones como "Testimonios" */
        --brand-light-beige: #F7F1E5;
        /* Color de texto para títulos y párrafos */
        --brand-text-dark: #4B3F36;
        /* Botones normales y bordes */
        --brand-cta-brown: #967969;
        /* Paquete destacado, botón de Hero */
        --brand-accent-gold: #DDC399;
        /* Fondo de la sección CTA final */
        --brand-cta-dark-bg: #5C4B40;
}

@theme inline {
  --brand-background: #FCFAF8;
  --brand-light-beige: #F7F1E5;
  --brand-text-dark: #4B3F36;
  --brand-cta-brown: #967969;
  --brand-accent-gold: #DDC399;
  --brand-cta-dark-bg: #5C4B40;
  --font-sans: var(--font-lato);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--brand-background);
  /* background-image: url('/images/golden-doodle.png');  <-- ESTO ES CORRECTO */
  color: var(--brand-text-dark);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', Georgia, serif;
}